.product-card {
    position: relative;
    width: 268px;
    font-family: var(--font-cards);
}

.product-card__link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.product-card__photo {
    margin-top: 50px;
    height: 240px;
    background-color: #FAFAFA;
    border-radius: 20px 20px 0 0;
    text-align: center;
}

.product-card__img {
    margin-top: -50px;
}

.product-card__desc {
    display: flex;
    flex-direction: column;
    gap: 6px;

    height: 202px;
    padding: 14px 22px 28px;
    background-color: #fff;
    border-radius: 0 0 20px 20px;
}

.product-card__category {
    position: relative;
    z-index: 3;
    color: var(--text-muted);
    font-family: 16px;
}

.product-card__title {
    font-size: 21px;
    font-weight: 600;
    color: var(--text-card-dark-blue);
}

.product-card__rating {
    display: flex;
    gap: 3px;
}

.product-card__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: auto;
}

.product-card__price {
    display: flex;
    align-items: flex-start;
    gap: 3px;

    font-size: 21px;
    font-weight: 600;
    color: var(--text-card-dark-blue);

    &::before {
        content: attr(data-value);
        font-size: 15px;
    }
}

.product-card__btn {
    position: relative;
    z-index: 3;
    
    width: 48px;
    height: 48px;
    background-color: var(--ui-dark-blue);

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;

    transition: opacity 0.2s ease-in;

    &:hover {
        opacity: 0.9;
    }
}